* {
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
}

.Menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 100vh;
  border-right: 1px solid black;
}

.Menu img {
  width: 250px;
  height: 150px;
}

.CreateProcess {
  display: block;
  width: 100%;
}
